<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<main>
<div class="logout">
    <%=user.userid%>님 환영합니다.
    &emsp;
    <a href="/logout">로그아웃</a>
</div>
<div class="ContentInput">
    <h1>ToDoList</h1>
    <form action="/main/add/<%=user.id%>" method="POST">
    <div class="Content_Input">
        <input type="text" name="inputContent" class="inputbox2" placeholder="내용을 입력하세요">
        <td><input class="Content_bt" type="submit" value="추가"></input></td>
    </div>
    </form>
</div>
<div class="ListInput">
<table>
	<tr>
		<td>해야할 일</td>
        <td class="bt">완료</tdclass="bt">
		<td class="bt">삭제</tdclass="bt">
	</tr>
	<% for(let td of todo) { %>
		<tr>
            <%if(td.finished){%>
                <td><%= td.Contents %></td>
            <% }else{ %>
                <td class="Chack"><%= td.Contents %></td>
            <% } %>

			<form action="/main/chack/<%=td.id%>" method="POST">
				<td class="bt"><input type="submit" value="완료"></input></td>
            </form>
            <form action="/main/del/<%=td.id%>" method="POST">
				<td class="bt"><input type="submit" value="삭제"></input></td>
            </form>
		</tr>
	<% } %>
</table>
</div>
</main>
</body>
</html>